body {
    color: #40514E;
    margin: 0px;
    background-color: #E4F9F5;
    font-family: 'quantico', sans-serif;
}

h1 {
    font-family: 'Montserrat', cursive;
    color: #66BFBF;
    padding-left: 70px;
    font-size: 50px;
}

h3 {
    text-align: center;
    padding-left: 70px;
}

p {
    text-align: center;
    padding-left: 70px;
    font-size: 20px;
}

/* Last image in row */
.hl {
    text-align: center;
    padding-left: 0px;
}

.pl {
    text-align: center;
    padding-left: 0px;
    font-size: 20px;
}

/* All images should be 170px*170px */
.py1 {
    padding-top: 15px;
    padding-left: 70px;
}

.sql1 {
    padding-top: 15px;
    padding-left: 70px;
}

.sql2 {
    padding-top: 15px;
    padding-left: 70px;
}

.udemy1 {
    padding-top: 15px;
    padding-left: 70px;
}

.typing {
    padding-top: 15px;
    padding-left: 70px;
    padding-right: 70px;
}

.copyright{
    color: #66BFBF;
    font-size: 0.75rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;   

 }

hr {
    border-color:#93BFCF
}
